.wrapper {
    margin-left: 116px;
    max-width: 1100px;
}

.title-cart {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 700;
}

.cart-object {
    display: flex;
    justify-content: space-between;
}

.cart-title1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.cart-title2 {
    font-weight: 400 !important;
    margin-top: 16px !important;
}

.cart-price {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 24px;
    margin-top: 12px;
}

.sizes-cart-button {
    margin-top: 12px;
    margin-bottom: 20px;
}

.button-cart1 {
    width: 63px;
    height: 45px;
    background: #ffffff;
    color: #111111;
    border: 1px solid #1D1F22;
}

.button-cart2 {
    background: #111111 !important;
    color: #ffffff !important;
}

button:hover {
    cursor: pointer;
}

hr {
    width: 1097px;
    height: 1px;
    background: #E5E5E5;
}

.cart-inc {
    width: 45px;
    height: 45px;
    border: 1px solid #1D1F22;
    background: #ffffff;
    font-size: 40px;
    font-weight: 1;
}

.cart-counter {
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
}

.cart-img img {
    width: 141px;
    height: 185px;
}

.card-right {
    display: flex;
    margin-top: 21px;
}

.cart-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}